body{
   background-color: #fafdcb;
   margin: 0;
   text-align: center;
}

h1{
   width: 10%;
   margin: 0 auto 0 auto;
}

.top-C{
  background-color: #aee7e8;
}

.middle-C{
  background-color: #fafdcb;
}

.bottom-C{      
  background-color: #fafdcb;
}
